extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method = 'post', action='/loginProcess')
      input#username(type='text', name ='username', placeholder='User Name')
      input#password(type='text', name = 'password', placeholder='Password')
      input#submit(type='submit', name = 'submitBtn', value = 'Login')
