extends layout

block content
  h1= title
  p Welcome to #{title}
  form#registerFrm(method = 'post', action = '/registerAct')
    p 
        input#username(type = 'text', name = 'username', placeholder = 'User Name') 
    p 
        input#password(type = 'text', name = 'password', placeholder = 'Password')
    p 
        input#fullname(type = 'text', name = 'fullname', placeholder = 'Full Name')
    p 
        input#address(type = 'text', name = 'address', placeholder = 'Address')
    p 
       textarea(name = 'description', placeholder = 'Description')
    p   
        input#submitBtn(type = 'submit', value = 'Register')